* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #1d1d1d;
}

a:hover {
    color: #C286FF;
}

a:visited {
    text-decoration: none;
    color: #1d1d1d;
}

a:visited:hover {
    color: #C286FF;
}

ul {
    list-style: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 40px;
    font-weight: 700;
    width: 100vw;
}

.nav__logo {
    cursor: pointer;
    padding: 8px;
    font-family: 'Lora', serif;
    font-size: 20px;
    position: relative;
    text-decoration: none;
    color: #1d1d1d;
}

.nav__logo span {
    color: #C286FF;
    font-family: 'Lora', serif;
    font-size: 16px;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.nav__logo:hover {
    color: #C286FF;
    transition: all 0.3s ease;
}

.nav__logo:hover span {
    position: relative;
    animation: jump 0.5s alternate ease-in-out;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.nav__items {
    display: flex;
    gap: 56px;
    font-size: 16px;
}

.nav__item {
    display: inline-block;
    cursor: pointer;
    padding: 2px;
    position: relative;
    text-decoration: none;
    color: #1d1d1d;
}

.nav__item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav__item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav__item:hover {
    color: #C286FF;
    transition: all 0.3s ease;
}

.nav__favorite {
    display: flex;
}

.nav__favorite svg{
    cursor: pointer;
    padding: 8px;
}

.nav__favorite:hover svg {
    fill: #C286FF;
    stroke: none;
    transition: all 0.3s ease;
}

main {
    display: flex;
    flex-direction: column;
    padding: 24px 80px;
    height: 89vh;
}

.main__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 100px;
}

.main__text h1 {
    font-size: 64px;
    line-height: 80px;
    max-width: 767px;
}

.main__text h1 span {
    color: #C286FF;
}

.main__text h2{
    font-size: 24px;
    max-width: 846px;
}

.main__text h2 span {
    color: #C286FF;
    position: relative;
    display: inline-block;
}

.main__text h2 span::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: currentcolor;
    animation: underline 1s ease-in-out forwards;
}

@keyframes underline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.main__form {
    display: flex;
    flex-direction: column;
}

.main__form--details {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 56px;
}

.main__form--details-name,
.main__form--details-email,
.main__form--details-phone {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    gap: 12px;
}

.main__form--message {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    gap: 12px;
}

#counter {
    color: #B4B6BD;
    align-self: flex-end;
}

.main__form--details-name label,
.main__form--details-email label,
.main__form--details-phone label,
.main__form--message label {
    font-weight: bold;
    color: #7B7D83;
}

.main__form--details-phone label span {
    font-weight: 400;
    color: #B4B6BD;
}

.main__form--details-name input::placeholder,
.main__form--details-email input::placeholder,
.main__form--details-phone input::placeholder,
.main__form--message input::placeholder {
    color: #B4B6BD;
}

input[type="text"], input[type="email"], input[type="tel"] {
    border: none;
    outline: none;
    border-bottom: 2px solid #C286FF;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus {
    border-bottom: 2px solid #7B7D83;
}

.main__form--button {
    border: 1px solid #1d1d1d;
    border-radius: 50px;
    padding: 12px 32px 12px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    color: #1d1d1d;
    overflow: hidden;
    position: relative;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.button-icon {
    position: absolute;
    right: 0;
    transform: translateX(0);
    transition: transform 0.2s ease;
}

.button-icon svg {
    vertical-align: middle;
    margin-right: 8px;
}

.main__form--button:hover .button-icon {
    transform: translateX(5px);
}

.main__message {
    display: none;
    text-align: center;
    font-size: 24px;
    color: #7B7D83;
    font-weight: 400;
}



@media only screen and (max-width: 767px) {

    .main__text h1 {
        font-size: 48px;
        line-height: 56px;
    }

    .main__text h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 678px) {
    .main__text {
        margin-bottom: 56px;
        align-items: center;
        justify-content: center;
    }

    .main__text h1 {
        font-size: 40px;
        line-height: 48px;
        text-align: center;
    }

    .main__text h2 {
        font-size: 16px;
        text-align: center;
    }


    .main__form--details {
        flex-direction: column;
        justify-content: center;
    }

    .main__form--message {
        justify-content: center;
    }

    #counter {
        font-size: 10px;
    }
}

@media only screen and (max-width: 576px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    .nav__logo {
        font-size: 24px;
        align-self: flex-start;
    }

    .nav__favorite {
        position: absolute;
        right: 50px;
        top: 28px;
    }
}

@media only screen and (max-width: 476px) {
    main {
        padding: 24px 40px;
    }

    .main__text h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .main__text h2 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 400px){

    .nav__items {
        gap: 24px;
    }
}




@media only screen and (max-width: 261px){

    .nav__logo {
        font-size: 16px;
    }
    .nav__items {
        gap: 16px;
    }

    .nav__item a {
        font-size: 12px;
    }

    .nav__favorite {
        top: 22px;
        right: 34px;
    }

    .nav__favorite svg {
        width: 34px;
    }
}

@media only screen and (max-width: 210px) {
    .nav__items {
        gap: 4px;
    }
}